.error
{
    color: red;
}

input, span, p, div
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

input[type=text], input[type=number]
{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit], input[type=button]
{
    width: 150px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 

input[type=submit]:hover, input[type=button]:hover
{
    background-color: #009900;
}

input[type=button]:disabled
{
    color: whitesmoke;
    background-color: #dddddd;
}
