<form #f="ngForm" (ngSubmit)="submitForm(f.valid)">

  <div *ngFor="let field of fieldPanel.fields; index as i">

      <div *ngIf="field.type === 'textField'">

          <input type="text" [placeholder]="field.label" [required]="field.required" [(ngModel)]="field.property" name="field{{i}}" [maxlength]="field.maxChars" [disabled]="viewMode">

          <span class="error" *ngIf="field.required && !field.property"> Must enter a value.</span>
    
          <span class="error" *ngIf="field.property.length > field.maxChars"> Maximum size is {{field.maxChars}} (Delete {{field.property.length - field.maxChars}} letters).</span>

      </div>

      <div *ngIf="field.type === 'booleanField'">

          <input type="checkbox" [(ngModel)]="field.property" name="field{{i}}" [disabled]="viewMode">

          <span> {{field.label}}</span>

      </div>

   </div>

  <input type="submit" value="Submit">
      
</form>
